doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#main-bar
      div
        h1 Life Dog CRUD
      .nav
        block navigation
    block content
